.special-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 0;
}
.special-table .special-table__columns {
  display: flex;
  max-width: 1260px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.special-table .special-table__save-button {
  max-width: 40%;
  border: none;
  font: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 8px 9px;
  background-color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}
.special-table .special-table__save-button:hover {
  background-color: #ccecff;
}
.special-table .special-table__save-button:active {
  cursor: none;
  background-color: #cacaca;
}
